@import "tailwindcss";

@font-face {
  font-family: "S-coreDream";
  font-weight: lighter;
  src: url("/assets/fonts/SCDream5.otf") format("truetype");
}

body {
    
    color: #4192FF;
}

#root {
  overflow: hidden;
  height: 100vh;
}

@theme {
  --color-background: #4192FF;
  --color-fail: #FF4C5E;
}
