@import "tailwindcss";

@font-face {
  font-family: "S-coreDream";
  font-weight: lighter;
  src: url("/assets/fonts/SCDream5.otf") format("truetype");
}

body {
    color: #4192FF;
}

#root {
  overflow: hidden;
  height: 100vh;
}

@theme {
  --color-background: #4192FF;
  --color-fail: #FF4C5E;
}

/* 스크롤바의 폭 너비 */
::-webkit-scrollbar {
    width: 10px;  
}

  ::-webkit-scrollbar-thumb {
      background: #4192FF; /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }

::-webkit-scrollbar-track {
    background: #D7E8FF; /*스크롤바 뒷 배경 색상*/
}
